

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

.logo{
    width: 9%;
    float: left;
    background: url(../images/sprites.png);
    height: 50px;
    background-position: 16px 52px;
}


/*logo image https://pixabay.com/static/img/sprites.png*/

    

.leftmenu{
    margin: 0px 0px 0px 30px;
    width: 42%;
    float: left;
}

.rightmenu{
    width: 42%;
    float: right;
    text-align: right;
   
}

ul{
    padding: 0%;
    margin: 0%;
    list-style: none;

}

.leftmenu>ul>li>a{
    color: white;
    text-decoration: none;
    padding: 10px;  
    display: inline-block;
    text-transform: capitalize;
}

.leftmenu>ul>li{
    display: inline-block;
}

.rightmenu>ul>li>a{
    color: white;
    text-decoration: none;
    padding: 10px;  
    display: inline-block;
    text-transform: capitalize;
}

.rightmenu>ul>li{
    display: inline-block;
}

#headerblock{
    /*padding: 13px;*/
    z-index: 1;
    position: relative;
  
}

/*.rightmenu>ul>li:nth-child(4){
    background: red;
} */

.last a {
    border: 1px solid rgb(238, 221, 221);
    border-radius: 20px;
    padding:4px 20px !important;
    background: 0px 0px;
}

.rightmenu>ul>li:nth-child(2)::after{
    content : '<';
    display: inline-block;
    transform: rotate(-90deg);
    color: white;


}

/* slider section css here*/
#sliderSection{
    color: white;
    background: url('../images/10-14-50-567_1920x430.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 319px;
    text-align: center;
    /*position: absolute;*/
    top: 0;
    padding-top: 150px;
    
}

#sliderSection>header>h1{
    font-size: 32px;

}

#sliderSection>footer>form>input{
    padding:22px;
    width: 30%;
    margin-top: 30px;
    border-radius: 5px;
    border: 0;
}

.searchicon{
    position: relative;
}

.searchicon i {
    position: absolute;
    color: rgb(54, 53, 53);
    left: 5px;
    top: 4px;
    font-size: 20px;
    z-index: 1;

}

#sliderSection>footer>form>input::placeholder{
    padding: 0px 30px;
    font-size: 16px;
    position: relative;
    top: 5px;

}

.imagetext{
    position: relative;
}

.imagetext>select{
    position: absolute;
    right: 0;
    top: 5px;
    border: none;
}

/*position: absolute;
    right: 61px;
    top: -11px;
    z-index: 1;
    color: black;
    width: 31%;
    padding: 348px;*/

.image1{
    width: 31.5%;
    float: left;
    margin: 0 7px;
}
.image2{
    width: 31.5%;
    float: left;
    margin: 0 7px;
}
.image3{
    width: 16%;
    float: left;
    margin: 0 7px;
    
}
.image4{
    width: 16%;
    float: left;
    margin: 0 7px;
}

#imagessection img{
    width: 100%;
    height: 300px;

}

    #imagessection{

        width: 97%;
        margin: 0 auto;
       
    
    }

    